<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title>NIMIQ.WATCH</title>

    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">

    <link href="https://fonts.googleapis.com/css?family=Fira+Mono|Source+Sans+Pro:400,600" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

    <script type="text/javascript" src="https://cdn.nimiq.com/core/nimiq.js"></script>
    <script src="vendor/tmpl.min.js"></script>
</head>
<body>
    <header>
        <h1>
            <a href="#" onclick="_linkClicked(this, true);">
                <span class="nimiq-logo">
                    <svg fill="#F6AE2D" xmlns="http://www.w3.org/2000/svg" width="34" height="30"><path d="M25.2 1H8.8l-8 14 8 14h16.4l8-14-8-14zm-6.7 22V26H16v-2.6c-1.5 0-3.3-.8-4.5-2l1.7-2.4c1.3 1 2.4 1.5 3.6 1.5 1.4 0 2-.6 2-1.7 0-2.6-6.7-2.6-6.7-7 0-2.6 1.6-4.3 4-4.8V4.2h2.5v2.6c1.6.2 2.8 1 3.8 2l-2 2.2c-.8-1-1.6-1.3-2.7-1.3-1.2 0-2 .5-2 1.6.2 2.4 7 2.2 7 7 0 2.4-1.5 4.3-4 4.8z"></path></svg>
                </span>
                NIMIQ.WATCH
            </a>
        </h1>
        <a href="#search" onclick="_linkClicked(this, true);" id="search">Search</a>
        <div class="submenu-container">
            <a href="#charts" onclick="_linkClicked(this, true);" id="charts">Charts</a>

            <div class="submenu">
                <a href="#chart-wealth-distribution" onclick="_linkClicked(this);">Wealth Distribution</a>
                <a href="#chart-global-hashrate" onclick="_linkClicked(this);">Global Hashrate</a>
            </div>
        </div>
        <a href="#about" onclick="_linkClicked(this, true);" id="about">What is this?</a>
        <span id="monitor" title="Connected to 0 peers">
            <strong>Status:</strong>
            <span id="status" class="not-connected">connecting</span> @ <span id="height"><em>loading</em></span><span id="targetHeight"></span>
        </span>
    </header>

    <div id="searchbox">
        <h1>Search accounts and blocks:</h1>

        <form action="#search" method="GET" id="search-form">
            <input type="text" id="search-input" placeholder="account address, HEX block hash or block height" onfocus="this.select();" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
            <input type="submit" id="search-submit" value="go" disabled="" title="Consensus not established">
            <span class="detection">Format detected: <span id="hash-format"><em>none</em></span></span>
        </form>
    </div>

    <div id="infobox">
    </div>

    <div id="blocklist-wrapper">
        <h2>Latest blocks</h2>
        <div id="blocklist">
            <div class="blocklist-block">
                <div class="blocklist-cell">
                    <div class="blocklist-loader">
                        <svg fill="#F6AE2D" xmlns="http://www.w3.org/2000/svg" width="34" height="30"><path d="M25.2 1H8.8l-8 14 8 14h16.4l8-14-8-14zm-6.7 22V26H16v-2.6c-1.5 0-3.3-.8-4.5-2l1.7-2.4c1.3 1 2.4 1.5 3.6 1.5 1.4 0 2-.6 2-1.7 0-2.6-6.7-2.6-6.7-7 0-2.6 1.6-4.3 4-4.8V4.2h2.5v2.6c1.6.2 2.8 1 3.8 2l-2 2.2c-.8-1-1.6-1.3-2.7-1.3-1.2 0-2 .5-2 1.6.2 2.4 7 2.2 7 7 0 2.4-1.5 4.3-4 4.8z"></path></svg>
                    </div>
                    <p class="blocklist-loader-text">Please wait while the blockchain is being synchronized. You can track the progress in the top right corner of the screen.</p>
                </div>
            </div>
        </div>
    </div>

    <footer>
        This web application is built on top of the <a target="_blank" href="https://nimiq.com">Nimiq Blockchain</a>.
        <a target="_blank" href="https://github.com/sisou/nimiq-watch">View Source Code on Github.</a>
    </footer>

    <script type="text/x-tmpl" id="template-block-info">
        <h2>Block Info</h2>
        <div class="blockinfo-header">
            <div class="height">
                <h3>Height</h3>
                <span>#{%=o.height%}</span>
                <div>
                    <a href="#{%=o.height + 1%}">&#9650;</a>
                    <a href="#{%=o.height - 1%}">&#9660;</a>
                </div>
            </div>
            <div class="hash">
                <h3>Hash</h3>
                <hash>{%=o.hash%}</hash>
            </div>
        </div>
        <div class="blockinfo-body">
            <div class="blockinfo-body-left">
                <div class="blockinfo-body-row">
                    <label>Transactions </label>
                    <span>{%=o.transactionCount%}</span>
                </div>
                <div class="blockinfo-body-row">
                    <label>Transaction Value </label>
                    <span><img src="icons/nimiq_blue.svg"> {%=_formatBalance(Nimiq.Policy.satoshisToCoins(o.transactionValue))%}</span>
                </div>
                <div class="blockinfo-body-row">
                    <label>Difficulty </label>
                    <span>{%=(Math.round(o.difficulty * 100) / 100)%}</span>
                </div>
            </div>
            <div class="blockinfo-body-right">
                <div class="blockinfo-body-row">
                    <label>Timestamp </label>
                    <span>{% var date = new Date(o.timestamp * 1000); print(date.toLocaleString()); %}</span>
                </div>
                <div class="blockinfo-body-row">
                    <label>Size </label>
                    <span>{%=o.serializedSize%} Bytes</span>
                </div>
                <div class="blockinfo-body-row">
                    <label>Nonce </label>
                    <span>{%=o.nonce%}</span>
                </div>
            </div>
            <div class="blockinfo-miner">
                <label>Mined by </label>
                <hash><a href="#{%=o.minerAddr%}" onclick="_linkClicked(this);">{%=o.minerAddr%}</a></hash>
                <!--
                <label>Previous Block </label>
                <hash>{%=o.prevHash%}</hash>
                -->
            </div>
        </div>
        <div class="blockinfo-transactions">
            {% if(o.transactionCount) { %}
                <div class="blockinfo-transaction-header-row">
                    <h3>Sender</h3>
                    <h3>Receiver</h3>
                    <h3>Value</h3>
                </div>
                {% for(var i = 0; i < o.transactions.length; i++) { %}
                    <div class="blockinfo-transaction-row">
                        <hash id="{% var elementId = 'sender-address-' + i; _getAndWriteSenderAddressHash(o.transactions[i], elementId); print(elementId); %}"></hash>
                        <hash><a href="#{%=o.transactions[i].recipientAddr.toHex()%}" onclick="_linkClicked(this);">{%=o.transactions[i].recipientAddr.toHex()%}</a></hash>
                        <span><img src="icons/nimiq_blue.svg"> {%=_formatBalance(Nimiq.Policy.satoshisToCoins(o.transactions[i].value))%}</span>
                    </div>
                {% } %}
            {% } else { %}
                <div class="no-transactions">No transactions</div>
            {% } %}
        </div>
    </script>

    <script type="text/x-tmpl" id="template-account-info">
        <div class="accountinfo-wrapper">
            <h2>Account Info</h2>
            <div class="blockinfo-header">
                <div class="hash">
                    <h3>Address</h3>
                    <hash>{%=o.hash%}</hash>
                </div>
            </div>
            <div class="blockinfo-body">
                <div class="blockinfo-body-row">
                    <label>Balance </label>
                    <span><img src="icons/nimiq_blue.svg"> {%=_formatBalance(Nimiq.Policy.satoshisToCoins(o.balance))%}</span>
                </div>
                <div class="blockinfo-body-row">
                    <label>Nonce </label>
                    <span>{%=o.nonce%}</span>
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-tmpl" id="template-blocklist-block">
        <a href="#{%=o.height%}" class="blocklist-cell" onclick="_linkClicked(this);">
            #{%=o.height%}
        </a>
        <div class="blocklist-cell">
            {% var time = new Date(o.timestamp * 1000); print(time.toLocaleTimeString()); %}
        </div>
        <div class="blocklist-cell">
            {%=o.transactionCount%} {% if(o.transactionCount === 1) print('transaction'); else print('transactions'); %}
        </div>
        <div class="blocklist-cell ellipsis">
            found by <hash><a href="#{%=o.minerAddr%}" onclick="_linkClicked(this);">{%=o.minerAddr%}</a></hash>
        </div>
        <div class="blocklist-cell">
            {%=o.serializedSize%} Bytes
        </div>
    </script>

    <script type="text/x-tmpl" id="template-about">
        <div class="about-wrapper">
            <h2>What is this?</h2>
            <p>
                This website is a blockchain explorer for the new <a href="https://nimiq.com" target="_blank">Nimiq blockchain project</a>.
            </p>
            <p>
                Because the Nimiq blockchain lives in your browser, this website works without a server. All necessary information is
                present in the blockchain, loaded in this browser.
            </p>
            <p>
                The source code for this website is open source and available at
                <a href="https://github.com/sisou/nimiq-watch" target="_blank">https://github.com/sisou/nimiq-watch</a>.
            </p>
            <p>
                To learn more about the Nimiq blockchain, visit the
                <a href="https://nimiq.com"                            target="_blank">homepage</a>,
                check out @nimiqnetwork on
                <a href="https://twitter.com/nimiqnetwork"             target="_blank">Twitter</a> or
                <a href="https://medium.com/nimiq-network"             target="_blank">Medium</a> and join the
                <a href="https://nimiq-slackin.herokuapp.com/"         target="_blank">Slack</a> and
                <a href="https://t.me/joinchat/AAAAAEJW-ozFwo7Er9jpHw" target="_blank">Telegram</a> channels.
            </p>
        </div>
    </script>

    <script type="text/x-tmpl" id="template-charts">
        <div class="charts-wrapper">
            <h2>Charts</h2>
            <p>
                <a href="#chart-wealth-distribution">Wealth Distribution</a>
                <a href="#chart-global-hashrate">Global Hashrate</a>
            </p>
        </div>
    </script>

    <script type="text/x-tmpl" id="template-wealth-distribution-chart">
        <div class="axis-type-switch">
            <label class="switch-light switch-candy" onclick="">
                <input type="checkbox" onchange="_wealthDistributionSwitchScale(this);" disabled="">
                <span>
                    <span>Linear</span>
                    <span>Logarithmic</span>
                    <a></a>
                </span>
            </label>
        </div>
        <h2>Wealth Distribution</h2>
        <small>Among non-zero accounts</small>
        <canvas class="chart"></canvas>
        <div class="blocklist-loader over-canvas">
            <svg fill="#F6AE2D" xmlns="http://www.w3.org/2000/svg" width="34" height="30"><path d="M25.2 1H8.8l-8 14 8 14h16.4l8-14-8-14zm-6.7 22V26H16v-2.6c-1.5 0-3.3-.8-4.5-2l1.7-2.4c1.3 1 2.4 1.5 3.6 1.5 1.4 0 2-.6 2-1.7 0-2.6-6.7-2.6-6.7-7 0-2.6 1.6-4.3 4-4.8V4.2h2.5v2.6c1.6.2 2.8 1 3.8 2l-2 2.2c-.8-1-1.6-1.3-2.7-1.3-1.2 0-2 .5-2 1.6.2 2.4 7 2.2 7 7 0 2.4-1.5 4.3-4 4.8z"></path></svg>
        </div>
        <div class="chart-valid-info"></div>
    </script>

    <script type="text/x-tmpl" id="template-global-hashrate-chart">
        <h2>Global Hashrate</h2>
        <small>During the last 24 hours</small>
        <canvas class="chart"></canvas>
        <div class="blocklist-loader over-canvas">
            <svg fill="#F6AE2D" xmlns="http://www.w3.org/2000/svg" width="34" height="30"><path d="M25.2 1H8.8l-8 14 8 14h16.4l8-14-8-14zm-6.7 22V26H16v-2.6c-1.5 0-3.3-.8-4.5-2l1.7-2.4c1.3 1 2.4 1.5 3.6 1.5 1.4 0 2-.6 2-1.7 0-2.6-6.7-2.6-6.7-7 0-2.6 1.6-4.3 4-4.8V4.2h2.5v2.6c1.6.2 2.8 1 3.8 2l-2 2.2c-.8-1-1.6-1.3-2.7-1.3-1.2 0-2 .5-2 1.6.2 2.4 7 2.2 7 7 0 2.4-1.5 4.3-4 4.8z"></path></svg>
        </div>
        <div class="chart-valid-info"></div>
    </script>

    <script src="app.js"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-101611099-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
