<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>NIMIQ.WATCH - Nimiq Block Explorer</title>

    <meta name="description" content="A blockchain explorer for the new Nimiq blockchain project. Search accounts and blocks.">

    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">

    <link rel="stylesheet" href="vendor/source-sans-pro/source-sans-pro.css">
    <link rel="stylesheet" href="vendor/fira/fira.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/css-toggle-switch@latest/dist/toggle-switch.css" />

    <link rel="stylesheet" type="text/css" href="./staging.css">

    <script type="text/javascript" src="https://cdn.nimiq.com/nimiq.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/promise-polyfill@7/dist/polyfill.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/whatwg-fetch"></script>
    <script>
        var isTestnet = location.hostname === 'test.nimiq.watch';

        var apiUrl = 'https://api.nimiq.watch';
        if(isTestnet) apiUrl = 'https://test-api.nimiq.watch';

        // Dummy object to prevent JS errors
        var nimiqLoaded = false;
        var latestBlockHeight = 0;

        function _onNimiqLoaded() {
            document.getElementById('search-submit').removeAttribute('disabled');
            document.getElementById('search-submit').removeAttribute('title');

            nimiqLoaded = true;

            _buildListOfLatestBlocks();

            if(!window.onhashchange) {
                window.onhashchange = _onHashChange;
                _onHashChange();
            }
        }

        function _onConsensusEstablished() {
            $status.innerText = 'connected';
            $status.classList.add('consensus-established');
        }

        function _onConsensusLost() {
            console.error('Consensus lost');
            $status.innerText = 'consensus lost';
            $status.classList.remove('consensus-established', 'synchronizing');
        }

        function _onHeadChanged(head) {
            var height = head.height;
            if(height > 1) $height.innerText = ' @ #' + height;

            if(blocklistBuilt && height > latestBlockHeight) {
                _getBlockListInfo(head, function(blockInfo) {
                    _addBlockToListOfLatestBlocks(blockInfo);
                });
            }
        }

        function _onPeersChanged() {
            document.getElementById('monitor').setAttribute('title', 'Connected to ' + $.network.peerCount + ' peers');
        }

        Nimiq.init(function() {
            if(isTestnet) Nimiq.GenesisConfig.test();
            else Nimiq.GenesisConfig.main();

            _onNimiqLoaded();

            $status.innerText = 'synchronizing';
            $status.classList.add('synchronizing');

            Nimiq.Consensus.volatileNano().then(function(nanoConsensus) {
                var $ = {};
                window.$ = $;

                $.consensus = nanoConsensus;

                $.blockchain = $.consensus.blockchain;
                $.network    = $.consensus.network;

                $.consensus.on('established', _onConsensusEstablished);
                $.consensus.on('lost', _onConsensusLost);

                $.blockchain.on('head-changed', _onHeadChanged);
                _onHeadChanged($.blockchain.head);

                $.network.on('peers-changed', _onPeersChanged);

                $.network.connect();
            });
        }, function(code) {
            switch (code) {
                case Nimiq.ERR_WAIT:
                    alert('Error: Already open in another tab or window.');
                    break;
                case Nimiq.ERR_UNSUPPORTED:
                    alert('Error: Browser not supported');
                    break;
                default:
                    alert('Error: Nimiq initialization error');
                    break;
            }
        });
    </script>
    <script src="vendor/tmpl.min.js"></script>
</head>
<body>
    <header>
        <h1>
            <a href="#" onclick="_linkClicked(this, true);">
                <span class="nimiq-logo">
                    <svg fill="#F6AE2D" xmlns="http://www.w3.org/2000/svg" width="34" height="30"><path d="M25.2 1H8.8l-8 14 8 14h16.4l8-14-8-14zm-6.7 22V26H16v-2.6c-1.5 0-3.3-.8-4.5-2l1.7-2.4c1.3 1 2.4 1.5 3.6 1.5 1.4 0 2-.6 2-1.7 0-2.6-6.7-2.6-6.7-7 0-2.6 1.6-4.3 4-4.8V4.2h2.5v2.6c1.6.2 2.8 1 3.8 2l-2 2.2c-.8-1-1.6-1.3-2.7-1.3-1.2 0-2 .5-2 1.6.2 2.4 7 2.2 7 7 0 2.4-1.5 4.3-4 4.8z"></path></svg>
                </span>
                <span id="page-name">NIMIQ.WATCH</span>
            </a>
        </h1>
        <a href="#" onclick="_linkClicked(this, true);" id="search">Search</a>
        <div class="submenu-container">
            <a href="#charts" onclick="_linkClicked(this, true);" id="charts">Charts</a>

            <div class="submenu">
                <!---<a href="#chart-wealth-distribution" onclick="_linkClicked(this);">Wealth Distribution</a>-->
                <a href="#chart-global-hashrate" onclick="_linkClicked(this);">Global Hashrate</a>
                <!---<a href="#chart-transactions-per-block" onclick="_linkClicked(this);">Transactions</a>-->
                <a href="#chart-hashing-distribution" onclick="_linkClicked(this);">Hashing Distribution</a>
            </div>
        </div>
        <!--<div class="submenu-container">
            <a href="https://nimiq.watch/news" target="_blank">News</a>

            <div class="submenu">
                <a href="https://nimiq.watch/news/2017-11-24-week-in-review-1.html" target="_blank">24 Nov 2017 | Week In Review #1</a>
                <a href="https://nimiq.watch/news/2017-12-01-week-in-review-2.html" target="_blank">01 Dec 2017 | Week In Review #2</a>
                <a href="https://nimiq.watch/news/2017-12-08-week-in-review-3.html" target="_blank">08 Dec 2017 | Week In Review #3</a>
                <a href="https://nimiq.watch/news/2017-12-17-week-in-review-4.html" target="_blank">17 Dec 2017 | Week In Review #4</a>
                <a href="https://nimiq.watch/news/2017-12-23-week-in-review-5.html" target="_blank">23 Dec 2017 | Week In Review #5</a>
            </div>
        </div>-->
        <a href="https://pool.nimiq.watch:8443" target="_blank">Pool</a>
        <a href="#about" onclick="_linkClicked(this, true);" id="about">What is this?</a>

        <span id="monitor" title="Connected to 0 peers">
            <strong>Status:</strong>
            <span id="status" class="not-connected">connecting</span><span id="height"></span></span>
        </span>
        <div class="color-strip"></div>
    </header>

    <div id="searchbox">
        <h1>Search accounts and blocks:</h1>

        <form action="#" method="GET" id="search-form">
            <input type="text" id="search-input" placeholder="Address, block hash or height" onfocus="this.select();" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
            <input type="submit" id="search-submit" value="go" disabled="" title="Initializing, please wait">
            <span class="detection">Format detected: <span id="hash-format"><em>none</em></span></span>
        </form>
    </div>

    <div id="infobox">
    </div>

    <div id="blocklist-wrapper">
        <h2>Latest blocks</h2>
        <div id="blocklist">
            <div class="blocklist-block">
                <div class="blocklist-cell">
                    <div class="blocklist-loader">
                        <svg fill="#F6AE2D" xmlns="http://www.w3.org/2000/svg" width="34" height="30"><path d="M25.2 1H8.8l-8 14 8 14h16.4l8-14-8-14zm-6.7 22V26H16v-2.6c-1.5 0-3.3-.8-4.5-2l1.7-2.4c1.3 1 2.4 1.5 3.6 1.5 1.4 0 2-.6 2-1.7 0-2.6-6.7-2.6-6.7-7 0-2.6 1.6-4.3 4-4.8V4.2h2.5v2.6c1.6.2 2.8 1 3.8 2l-2 2.2c-.8-1-1.6-1.3-2.7-1.3-1.2 0-2 .5-2 1.6.2 2.4 7 2.2 7 7 0 2.4-1.5 4.3-4 4.8z"></path></svg>
                    </div>
                    <p class="blocklist-loader-text">Initializing, please wait.</p>
                </div>
            </div>
        </div>
    </div>

    <footer>
        This web application is built on top of the <a target="_blank" href="https://nimiq.com">Nimiq Blockchain</a>.
        <a target="_blank" href="https://github.com/sisou/nimiq-watch">View Source Code on Github.</a>
    </footer>

    <script type="text/x-tmpl" id="template-block-info">
        <h2>Block Info</h2>
        <div class="blockinfo-header">
            <div class="height">
                <h3>Height</h3>
                <span>#{%=o.height%}</span>
                <div>
                    <a href="#{%=o.height + 1%}">&#9650;</a>
                    <a href="#{%=o.height - 1%}">&#9660;</a>
                </div>
            </div>
            <div class="hash">
                <h3>Hash</h3>
                <hash>{%=o.hash%}</hash>
            </div>
        </div>
        <div class="blockinfo-body">
            <div class="blockinfo-body-left">
                <div class="blockinfo-body-row">
                    <label>Transactions </label>
                    <span>{%=o.transaction_count%}</span>
                </div>
                <div class="blockinfo-body-row">
                    <label>Transaction Value </label>
                    <span>{%=_formatBalance(Nimiq.Policy.satoshisToCoins(o.value))%} NIM</span>
                </div>
                <div class="blockinfo-body-row">
                    <label>Block Reward </label>
                    <span style="cursor: help;" title="Block reward: {%=_formatBalance(Nimiq.Policy.satoshisToCoins(o.reward))%} NIM, fees: {%=_formatBalance(Nimiq.Policy.satoshisToCoins(o.fees))%} NIM">{%=_formatBalance(Nimiq.Policy.satoshisToCoins(o.reward + o.fees))%} NIM</span>
                </div>
            </div>
            <div class="blockinfo-body-right">
                <div class="blockinfo-body-row">
                    <label>Timestamp </label>
                    <span>{% var date = new Date(o.timestamp * 1000); print(date.toLocaleString()); %}</span>
                </div>
                <div class="blockinfo-body-row">
                    <label>Difficulty </label>
                    <span>{%=(Math.round(o.difficulty * 100) / 100)%}</span>
                </div>
                <div class="blockinfo-body-row">
                    <label>Size </label>
                    <span>{%=_formatSize(o.size)%}</span>
                </div>
            </div>
            <div class="blockinfo-miner">
                <div class="blockinfo-body-row">
                    <label>Miner </label>
                    <hash><a href="#{%=o.miner_address.replace(/ /g, '+')%}" onclick="_linkClicked(this);">{%=o.miner_address%}</a></hash>
                </div>
                {% if(o.extra_data) { %}
                    <div class="blockinfo-body-row">
                        <label>Extra Data </label>
                        <span>{%=o.extra_data%}</span>
                    </div>
                {% } %}
                <!--
                <div class="blockinfo-body-row">
                    <label>PoW </label>
                    <hash>{%=o.pow_hash%}</hash>
                </div>
                <div class="blockinfo-body-row">
                    <label>Previous Block </label>
                    <hash>{%=o.prev_hash%}</hash>
                </div>
                -->
            </div>
        </div>
        <div class="blockinfo-transactions">
            {% if(o.transaction_count) { %}
                <div class="blockinfo-transaction-header-row">
                    <h3>Sender</h3>
                    <h3>Receiver</h3>
                    <h3>Value</h3>
                </div>
                {% for(var i = 0; i < o.transactions.length; i++) { %}
                    <div class="blockinfo-transaction-row">
                        <hash><a href="#{%=o.transactions[i].sender_address.replace(/ /g, '+')%}"   onclick="_linkClicked(this);">{%=o.transactions[i].sender_address  %}</a></hash>
                        <hash><a href="#{%=o.transactions[i].receiver_address.replace(/ /g, '+')%}" onclick="_linkClicked(this);">{%=o.transactions[i].receiver_address%}</a></hash>
                        <span>{%=_formatBalance(Nimiq.Policy.satoshisToCoins(o.transactions[i].value))%} NIM</span>
                        <span><a href="#{%=o.transactions[i].hash%}" onclick="_linkClicked(this);" class="info-icon"></a></span>
                    </div>
                {% } %}
            {% } else { %}
                <div class="no-more">No transactions</div>
            {% } %}
        </div>
    </script>

    <script type="text/x-tmpl" id="template-tx-info">
        <div class="txinfo-wrapper">
            <h2>Transaction Info</h2>
            <div class="blockinfo-header">
                <div class="hash">
                    <h3>Hash</h3>
                    <hash>{%=o.hash%}</hash>
                </div>
            </div>
            <div class="blockinfo-body">
                <div class="blockinfo-body-row">
                    <label>Sender </label>
                    <hash>
                        <a href="#{%=o.sender_address.replace(/ /g, '+')%}" onclick="_linkClicked(this);">{%=o.sender_address%}</a>
                    </hash>
                </div>
                <div class="blockinfo-body-row">
                    <label>Recipient </label>
                    <hash>
                        <a href="#{%=o.receiver_address.replace(/ /g, '+')%}" onclick="_linkClicked(this);">{%=o.receiver_address%}</a>
                    </hash>
                </div>
                <div class="blockinfo-body-row">
                    <label>Date </label>
                    <span>
                        <span class="event-datetime">{% var date = new Date(o.timestamp * 1000); print(date.toLocaleString()); %}</span>
                        <span class="event-height">(<a href="#{%=o.block_height%}" onclick="_linkClicked(this);">#{%=o.block_height%}</a>)</span>
                    </span>
                </div>
                <div class="blockinfo-body-row">
                    <label>Value </label>
                    <span>{%=_formatBalance(Nimiq.Policy.satoshisToCoins(o.value))%} NIM</span>
                </div>
                <div class="blockinfo-body-row">
                    <label>Fee </label>
                    <span>{%=_formatBalance(Nimiq.Policy.satoshisToCoins(o.fee))%} NIM</span>
                </div>
                {% if(o.data.length > 0) { %}
                    <div class="blockinfo-body-row">
                        <label>Message </label>
                        <span>{%=_formatTxData(Nimiq.BufferUtils.fromBase64(o.data))%}</span>
                    </div>
                {% } %}
                <div class="blockinfo-body-row">
                    <label>Validity Start Height </label>
                    <span>{%=o.validity_start_height%}</span>
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-tmpl" id="template-account-info">
        <div class="accountinfo-wrapper">
            <h2>Account Info</h2>
            <div class="blockinfo-header">
                <div class="hash">
                    <h3>Address</h3>
                    <hash>{%=o.address%}</hash>
                </div>
            </div>
            <div class="blockinfo-body">
                <div class="blockinfo-body-row">
                    <label>Balance </label>
                    <span>{%=_formatBalance(Nimiq.Policy.satoshisToCoins(o.balance))%} NIM</span>
                </div>
            </div>

            <h3>History</h3>

            <div class="switch-toggle switch-candy">
                <input id="latest-transactions-radio" name="account-history-radio" type="radio" checked="checked" onclick="switchAccountHistory('transactions')">
                <label for="latest-transactions-radio" onclick="">Transactions</label>

                <input id="latest-blocks-radio" name="account-history-radio" type="radio" onclick="switchAccountHistory('blocks')">
                <label for="latest-blocks-radio" onclick="">Blocks</label>

                <a></a>
            </div>

            <div class="accountinfo-transactions">
                {% if(o.transactions.length > 0) { %}
                    {% for(var i = o.transactions.length - 1; i >= 0; i--) { %}
                        {% o.transactions[i].isReceiver = o.transactions[i].receiver_address === o.address; %}
                        {%#o.accountTransaction(o.transactions[i])%}
                    {% } %}

                    {% if(o.transactions.length === 10) { %}
                        <button class="event-loadmore" onclick="loadMoreTransactions(this, '{%=o.address%}')" data-page="2">Load more</button>
                    {% } else { %}
                        <div class="no-more">No earlier transactions</div>
                    {% } %}
                {% } else { %}
                    <div class="no-more">No transactions</div>
                {% } %}
            </div>

            <div class="accountinfo-blocks hidden">
                {% if(o.blocks.length > 0) { %}
                    {% for(var i = o.blocks.length - 1; i >= 0; i--) { %}
                        {%#o.accountBlock(o.blocks[i])%}
                    {% } %}

                    {% if(o.blocks.length === 10) { %}
                        <button class="event-loadmore" onclick="loadMoreBlocks(this, '{%=o.address%}')" data-page="2">Load more</button>
                    {% } else { %}
                        <div class="no-more">No earlier blocks</div>
                    {% } %}
                {% } else { %}
                    <div class="no-more">No blocks mined</div>
                {% } %}
            </div>
        </div>
    </script>

    <script type="text/x-tmpl" id="template-account-transaction">
        {% o.otherAddress = o.isReceiver && o.sender_address || o.receiver_address; %}
        <div class="event-item">
            <span class="event-amount {% if(o.isReceiver) print('green'); else print('red'); %}">
                {% if(o.isReceiver) print('+'); else print('-'); %}{%=_formatBalance(Nimiq.Policy.satoshisToCoins(o.value))%} NIM&#8203;
            </span>
            <span class="event-name">{% if(o.isReceiver) print('Received'); else print('Sent'); %} transaction</span>
            <span><a href="#{%=o.hash%}" onclick="_linkClicked(this);" class="info-icon"></a></span><br>
            <span class="event-datetime">{% var date = new Date(o.timestamp * 1000); print(date.toLocaleString()); %}</span>
            <span class="event-height">(<a href="#{%=o.block_height%}" onclick="_linkClicked(this);">#{%=o.block_height%}</a>)</span><br>
            {% if(o.isReceiver) print('&larr;', true); else print('&rarr;', true); %}
            <hash class="event-address"><a href="#{%=o.otherAddress.replace(/ /g, '+')%}" onclick="_linkClicked(this);">{%=o.otherAddress%}</a></hash>
        </div>
    </script>

    <script type="text/x-tmpl" id="template-account-block">
        <div class="event-item">
            <span class="event-amount green" title="Block reward: {%=_formatBalance(Nimiq.Policy.satoshisToCoins(o.reward))%} NIM, fees: {%=_formatBalance(Nimiq.Policy.satoshisToCoins(o.fees))%} NIM">
                +{%=_formatBalance(Nimiq.Policy.satoshisToCoins(o.reward + o.fees))%} NIM&#8203;
            </span>
            <span class="event-name">Mined block</span><br>
            <span class="event-datetime">{% var date = new Date(o.timestamp * 1000); print(date.toLocaleString()); %}</span>
            <span class="event-height">(<a href="#{%=o.height%}" onclick="_linkClicked(this);">#{%=o.height%}</a>)</span>
        </div>
    </script>

    <script type="text/x-tmpl" id="template-blocklist-block">
        <a href="#{%=o.height%}" class="blocklist-cell" onclick="_linkClicked(this);">
            #{%=o.height%}
        </a>
        <div class="blocklist-cell">
            {% var time = new Date(o.timestamp * 1000); print(time.toLocaleTimeString()); %}
        </div>
        <div class="blocklist-cell">
            {%=o.transaction_count%} {% if(o.transaction_count === 1) print('transaction'); else print('transactions'); %}
        </div>
        <div class="blocklist-cell ellipsis">
            found by <hash><a href="#{%=o.miner_address.replace(/ /g, '+')%}" onclick="_linkClicked(this);">{%=o.miner_address%}</a></hash>
        </div>
        <div class="blocklist-cell">
            {%=_formatSize(o.size)%}
        </div>
    </script>

    <script type="text/x-tmpl" id="template-about">
        <div class="about-wrapper">
            <h2>What is this?</h2>
            <p>
                This website is a blockchain explorer for the new <a href="https://nimiq.com" target="_blank">Nimiq blockchain project</a>.
            </p>
            <p>
                The source code for this website is open source and available at
                <a href="https://github.com/sisou/nimiq-watch" target="_blank">https://github.com/sisou/nimiq-watch</a>.
            </p>
            <p>
                To learn more about the Nimiq blockchain, visit the
                <a href="https://nimiq.com"                            target="_blank">homepage</a>,
                check out @nimiq on
                <a href="https://twitter.com/nimiq"                    target="_blank">Twitter</a> or
                <a href="https://medium.com/nimiq-network"             target="_blank">Medium</a> and join the
                <a href="https://discord.gg/cMHemg8"                   target="_blank">Discord</a> and
                <a href="https://t.me/joinchat/AAAAAEJW-ozFwo7Er9jpHw" target="_blank">Telegram</a> channels.
            </p>
        </div>
    </script>

    <script type="text/x-tmpl" id="template-charts">
        <div class="charts-wrapper">
            <h2>Charts</h2>
            <p>
                <!--<a href="#chart-wealth-distribution">Wealth Distribution</a>-->
                <a href="#chart-global-hashrate">Global Hashrate</a>
                <!--<a href="#chart-transactions-per-block">Transactions</a>-->
                <a href="#chart-hashing-distribution">Hashing Distribution</a>
            </p>
        </div>
    </script>

    <script src="./staging.js"></script>
    <script>
        if(isTestnet) {
            document.head.querySelector('title').textContent = 'TESTNET.WATCH';
            document.querySelector('#page-name').textContent = 'TESTNET.WATCH';
        }
    </script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-101611099-1', 'auto');
        // ga('send', 'pageview'); // Done instead in the _onHashChange function
    </script>

    <script type="text/x-tmpl" id="template-global-hashrate-chart">
        <div class="switch-toggle switch-candy global-hashrate-range-switch">
            <input id="global-hashrate-range-day" name="global-hashrate-range" type="radio" onclick="switchGlobalHashrateRange('day')">
            <label for="global-hashrate-range-day" onclick="">Day</label>

            <input id="global-hashrate-range-week" name="global-hashrate-range" type="radio" checked="checked" onclick="switchGlobalHashrateRange('week')">
            <label for="global-hashrate-range-week" onclick="">Week</label>

            <input id="global-hashrate-range-month" name="global-hashrate-range" type="radio" onclick="switchGlobalHashrateRange('month')">
            <label for="global-hashrate-range-month" onclick="">Month</label>

            <input id="global-hashrate-range-year" name="global-hashrate-range" type="radio" onclick="switchGlobalHashrateRange('year')">
            <label for="global-hashrate-range-year" onclick="">Year</label>

            <!--
            <input id="global-hashrate-range-all" name="global-hashrate-range" type="radio" onclick="switchGlobalHashrateRange('all')">
            <label for="global-hashrate-range-all" onclick="">all</label>
            -->

            <a></a>
        </div>
        <h2>Global Hashrate</h2>
        <small>Estimated from mining difficulty</small>
        <canvas class="chart global-hashrate-chart"></canvas>
        <div class="blocklist-loader over-canvas">
            <svg fill="#F6AE2D" xmlns="http://www.w3.org/2000/svg" width="34" height="30"><path d="M25.2 1H8.8l-8 14 8 14h16.4l8-14-8-14zm-6.7 22V26H16v-2.6c-1.5 0-3.3-.8-4.5-2l1.7-2.4c1.3 1 2.4 1.5 3.6 1.5 1.4 0 2-.6 2-1.7 0-2.6-6.7-2.6-6.7-7 0-2.6 1.6-4.3 4-4.8V4.2h2.5v2.6c1.6.2 2.8 1 3.8 2l-2 2.2c-.8-1-1.6-1.3-2.7-1.3-1.2 0-2 .5-2 1.6.2 2.4 7 2.2 7 7 0 2.4-1.5 4.3-4 4.8z"></path></svg>
        </div>
        <div class="chart-valid-info"></div>
        <p><small><strong>Disclaimer:</strong> The graph shows the averaged global hashrate for the respective intervals. The global hashrate for each block is estimated from its difficutly, which is based on the time it took for the last 120 blocks to be mined.</small></p>
    </script>
    <script src="./script-chart-global-hashrate.js"></script>

    <script type="text/x-tmpl" id="template-hashing-distribution-chart">
        <div class="switch-toggle switch-candy hashing-distribution-range-switch">
            <input id="hashing-distribution-range-1hour" name="hashing-distribution-range" type="radio" onclick="switchHashingDistributionRange(1)">
            <label for="hashing-distribution-range-1hour" onclick="">1 hour</label>

            <input id="hashing-distribution-range-2hours" name="hashing-distribution-range" type="radio" onclick="switchHashingDistributionRange(2)">
            <label for="hashing-distribution-range-2hours" onclick="">2 hours</label>

            <input id="hashing-distribution-range-12hours" name="hashing-distribution-range" type="radio" checked="checked" onclick="switchHashingDistributionRange(12)">
            <label for="hashing-distribution-range-12hours" onclick="">12 hours</label>

            <input id="hashing-distribution-range-24hours" name="hashing-distribution-range" type="radio" onclick="switchHashingDistributionRange(24)">
            <label for="hashing-distribution-range-24hours" onclick="">24 hours</label>

            <a></a>
        </div>
        <h2>Hashing Distribution</h2>
        <small>Number of blocks mined per address</small>
        <div class="hashing-distribution-chart-wrapper">
            <canvas class="chart"></canvas>
            <div class="blocklist-loader over-canvas">
                <svg fill="#F6AE2D" xmlns="http://www.w3.org/2000/svg" width="34" height="30"><path d="M25.2 1H8.8l-8 14 8 14h16.4l8-14-8-14zm-6.7 22V26H16v-2.6c-1.5 0-3.3-.8-4.5-2l1.7-2.4c1.3 1 2.4 1.5 3.6 1.5 1.4 0 2-.6 2-1.7 0-2.6-6.7-2.6-6.7-7 0-2.6 1.6-4.3 4-4.8V4.2h2.5v2.6c1.6.2 2.8 1 3.8 2l-2 2.2c-.8-1-1.6-1.3-2.7-1.3-1.2 0-2 .5-2 1.6.2 2.4 7 2.2 7 7 0 2.4-1.5 4.3-4 4.8z"></path></svg>
            </div>
            <div class="chart-valid-info"></div>
        </div>
    </script>
    <script src="./script-chart-hashing-distribution.js"></script>

    <!--
    <script type="text/x-tmpl" id="template-wealth-distribution-chart">
        <div class="axis-type-switch">
            <label class="switch-light switch-candy" onclick="">
                <input type="checkbox" onchange="_wealthDistributionSwitchScale(this);" disabled="">
                <span>
                    <span>Linear</span>
                    <span>Logarithmic</span>
                    <a></a>
                </span>
            </label>
        </div>
        <h2>Wealth Distribution</h2>
        <small>Among non-zero accounts</small>
        <canvas class="chart"></canvas>
        <div class="blocklist-loader over-canvas">
            <svg fill="#F6AE2D" xmlns="http://www.w3.org/2000/svg" width="34" height="30"><path d="M25.2 1H8.8l-8 14 8 14h16.4l8-14-8-14zm-6.7 22V26H16v-2.6c-1.5 0-3.3-.8-4.5-2l1.7-2.4c1.3 1 2.4 1.5 3.6 1.5 1.4 0 2-.6 2-1.7 0-2.6-6.7-2.6-6.7-7 0-2.6 1.6-4.3 4-4.8V4.2h2.5v2.6c1.6.2 2.8 1 3.8 2l-2 2.2c-.8-1-1.6-1.3-2.7-1.3-1.2 0-2 .5-2 1.6.2 2.4 7 2.2 7 7 0 2.4-1.5 4.3-4 4.8z"></path></svg>
        </div>
        <div class="chart-valid-info"></div>
    </script>
    <script src="./script-chart-wealth-distribution.js"></script>
    -->

    <!--
    <script type="text/x-tmpl" id="template-transactions-per-block-chart">
        <h2>Transactions</h2>
        <small>During the last 24 hours</small>
        <canvas class="chart"></canvas>
        <div class="blocklist-loader over-canvas">
            <svg fill="#F6AE2D" xmlns="http://www.w3.org/2000/svg" width="34" height="30"><path d="M25.2 1H8.8l-8 14 8 14h16.4l8-14-8-14zm-6.7 22V26H16v-2.6c-1.5 0-3.3-.8-4.5-2l1.7-2.4c1.3 1 2.4 1.5 3.6 1.5 1.4 0 2-.6 2-1.7 0-2.6-6.7-2.6-6.7-7 0-2.6 1.6-4.3 4-4.8V4.2h2.5v2.6c1.6.2 2.8 1 3.8 2l-2 2.2c-.8-1-1.6-1.3-2.7-1.3-1.2 0-2 .5-2 1.6.2 2.4 7 2.2 7 7 0 2.4-1.5 4.3-4 4.8z"></path></svg>
        </div>
        <div class="chart-valid-info"></div>
    </script>
    <script src="./script-chart-transactions-per-block"></script>
    -->
</body>
</html>
