body {
    background: #fafafa;
    color: #3b3b3b;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    letter-spacing: 0.02em;
    padding: 0;
    margin: 0;
}

a {
    color: #3b3b3b;
    text-decoration: none;
    border-bottom: 1px dotted;
    position: relative;
}

a:hover,
a:focus {
    border-bottom-style: solid;
}

header {
    color: #3b3b3b;
    position: sticky;
    top: -30px;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 94px; /* 64 + 30 */
    z-index: 1000;
}

header::before,
header::after {
    content: '';
    display: block;
    height: 20px;
    position: sticky;
}

header::before {
    top: 44px; /* 64 - 20 */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

header::after {
    background: linear-gradient(#fafafa 20%, rgba(250, 250, 250, 0.2));
    top: 0;
    height: 30px;
    z-index: 2000;
}

header > div {
    background: #fafafa;
    height: 64px;
    position: sticky;
    top: 0px;
    margin-top: -20px;
    z-index: 3000;
    padding-top: 0.5em;
    box-sizing: border-box;
}

header h1 {
    margin: 0.1em 0;
    margin-left: 16px;
    margin-right: 1em;
    margin-bottom: 6px;
    float: left;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

header h1 a {
    color: inherit;
    text-decoration: none;
}

header #page-name {
    position: relative;
    top: -11px;
    margin-left: 4px;
}

header #mobile-menu-button {
    display: none;
    float: right;
    background: transparent;
    font-family: inherit;
    color: inherit;
    border: 1px solid;
    border-radius: 4px;
    font-size: 1em;
    padding: 0.4em 0.6em;
    margin-right: 0.8em;
    margin-top: 0.4em;
}

header nav {
    overflow: visible;
    float: left;
}

header nav > a,
header .submenu-container,
header .submenu-container > a {
    line-height: 2.7em;
    color: white;
    color: #3b3b3b;
    float: left;
    /* border: none; */
    padding: 0 0.75em;
    margin-right: 0.5em;
    position: relative;
    display: block;
    cursor: pointer;
    border-radius: 4px;
}

header a,
header a:hover,
header a:focus {
    /* border: none; */
    border: 1px solid transparent;
}

header > a:hover,
header > a:focus,
header > a:target,
header .submenu-container > a:hover,
header .submenu-container > a:focus,
header .submenu-container > a:target {
    background: white;
    color: #3b3b3b;
    border-color: #3b3b3b;
}

header .submenu-container {
    padding: 0;
    position: relative;
}

header .submenu-container > a {
    margin: 0;
}

header .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1500;
    border-radius: 4px;
}

header .submenu-container:hover > a {
    background: white;
    color: #3b3b3b;
    border-color: #3b3b3b;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
}

header .submenu-container:hover .submenu {
    display: block;
}

header .submenu a {
    background: white;
    display: block;
    padding: 0 1em;
    white-space: nowrap;
    border: 1px solid;
    border-top: none;
    line-height: 2.7em;
    padding: 0 0.75em;
}

header .submenu a:first-child {
    border-top: 1px solid;
    border-top-right-radius: 3px;
}

header .submenu a:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

header .submenu a:hover {
    background: #fafafa;
}

#monitor {
    float: right;
    margin-right: 16px;
    line-height: 2.7em;
}

#status.not-connected {
    color: red;
}

#status.synchronizing {
    color: gold;
}

#status.consensus-established {
    color: limegreen;
}

#searchbox {
    max-width: 720px;
    margin: auto;
    padding: 1em 20px 2em;
}

#searchbox h1 {
    font-weight: normal;
    text-align: center;
    margin: 40px 0;
}

#search-form {
    position: relative;
}

#search-form input {
    font-size: inherit;
    font-family: "Fira Mono", monospace;
    border-radius: 4px;
    border: none;
}

#search-form #search-input {
    width: 100%;
    box-sizing: border-box;
    text-transform: uppercase;
    padding: 1.05em 11% 0.95em 3.1em;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    word-spacing: -0.15em;
}

#search-form #search-input::placeholder {
    text-transform: none;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.1em;
    letter-spacing: 0.02em;
    font-weight: 400;
    word-spacing: 0;
}

#search-form svg {
    position: absolute;
    left: 1em;
    top: 1em;
}

#search-form #search-submit {
    width: 10%;
    height: calc(100% - 6px);
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    padding: 0.9em;
    min-width: 60px;
    background: white;
    position: absolute;
    right: 3px;
    top: 3px;
    background: rgba(0, 0, 0, 0.05);
}

#search-submit:disabled {
    cursor: progress;
}

#search-form .detection {
    font-size: 0.9em;
    display: block;
    margin-top: 0.4em;
    display: none;
}

#hash-format {
    font-weight: bold;
    margin-left: 0.2em;
}

hash {
    font-family: "Fira Mono", monospace;
    font-size: 0.9em;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    word-wrap: break-word;
    word-spacing: -0.15em;
}

#infobox {
    max-width: 900px;
    margin: 4em auto 2em auto;
    padding: 0 20px;
}

#infobox h2,
#infobox h3 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 0.2em;
}

#infobox h2 {
    margin-bottom: 0.4em;
}

#infobox h3 {
    font-weight: bold;
    font-size: 0.9em;
    color: #999;
}

#infobox img {
    height: 12px;
}

#infobox .hidden {
    display: none;
}

.txinfo-wrapper {
    max-width: 650px;
    margin: auto;
}

.accountinfo-wrapper {
    max-width: 540px;
    margin: auto;
}

#infobox .accountinfo-wrapper > h3,
#infobox .txinfo-wrapper > h3 {
    margin-bottom: 0.5em;
    color: #042146;
    font-size: 1.2em;;
    font-weight: normal;
}

.switch-toggle.switch-candy {
    font-size: 0.9em;
    margin-bottom: 0.5em;
    background-color: #DDDDDD;
    box-shadow: none;
    text-transform: uppercase;
}

.switch-toggle.switch-candy > label {
    font-weight: normal;
    text-shadow: none !important;
    color: #666666;
}

.switch-toggle.switch-candy > a {
    background-color: #BBBBBB;
}

.about-wrapper {
    max-width: 600px;
    margin: auto;
    padding: 1em;
    background: white;
    border: 1px solid #D9DEE4;
    border-radius: 5px;
}

.about-wrapper h2 {
    margin-top: 0;
}

.about-wrapper p:last-child {
    margin-bottom: 0;
}

.blockinfo-header {
    overflow: auto;
    border: 1px solid #D9DEE4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #F0F0F0;
    padding: 1em;
}

.accountinfo-wrapper .blockinfo-header .iqon {
    float: left;
    width: 80px;
    height: 80px !important;
    padding-right: 1em;
    margin-top: -0.5em;
    margin-bottom: -0.5em;
}

.blockinfo-header h3 {
    margin-top: 0;
}

.blockinfo-header .height {
    float: left;
    margin-right: 6%;
    padding-right: 1em;
    overflow: auto;
}

.blockinfo-header .height span {
    font-size: 2.2em;
    float: left;
}

.blockinfo-header .height div {
    float: left;
    margin-left: 0.3em;
}

.blockinfo-header .height a {
    display: block;
    border: none;
    opacity: 0.3;
}

.blockinfo-header .height a:hover,
.blockinfo-header .height a:focus {
    opacity: 1;
    /*color: #87cefa;  lightskyblue */
}

.blockinfo-header .height a:first-child {
    margin-top: 6px;
    margin-bottom: -6px;
}

.blockinfo-header .hash {
    /* float: left; */
}

.blockinfo-body {
    overflow: auto;
    border-left: 1px solid #D9DEE4;
    border-right: 1px solid #D9DEE4;
    background: white;
}

.accountinfo-wrapper .blockinfo-body,
.txinfo-wrapper .blockinfo-body {
    border-bottom: 1px solid #D9DEE4;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.blockinfo-body .account-basics,
.blockinfo-body .account-data,
.blockinfo-body .account-vestings,
.txinfo-wrapper .blockinfo-body {
    padding: 0.25em 1em;
}

.blockinfo-body input {
    padding: 0.15em 0.5em;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    border-radius: 3px;
    border: 1px solid #D9DEE4;
    margin-top: -0.15em;
}

.blockinfo-body input[type="submit"] {
    border-color: #333;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
}

.blockinfo-body .account-data,
.blockinfo-body .account-vestings {
    border-top: 1px solid #D9DEE4;
}

.account-vestings .blockinfo-body-row > hash {
    float: none;
}

.account-data small {
    display: inline !important;
}

.account-data .hash-root {
    max-width: 100%;
    margin-top: 0.4em;
    margin-bottom: 0.75em;
}

.blockinfo-body-left,
.blockinfo-body-right {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 0.25em 1em;
}

.blockinfo-body-left {
    border-right: 1px solid #D9DEE4;
}

.blockinfo-body-row {
    margin: 0.75em 0;
    min-height: 1.4em;
}

.blockinfo-body-row label,
.blockinfo-miner label {
    float: left;
    color: #888;
}

.blockinfo-body-row > span,
.blockinfo-body-row > hash,
.blockinfo-miner hash {
    float: right;
}

.blockinfo-miner {
    clear: both;
    border-top: 1px solid #D9DEE4;
    padding: 0.25em 1em;
    overflow: auto;
}

.blockinfo-extra-data {
    word-wrap: break-word;
}

.blockinfo-transactions {
    border: 1px solid #D9DEE4;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1em;
    background: white;
}

.blockinfo-transaction-header-row {
    display: table-row;
}

.blockinfo-transaction-header-row h3 {
    display: table-cell;
}

.blockinfo-transaction-header-row h3:last-child {
    text-align: right;
}

.blockinfo-transaction-row {
    display: table-row;
}

.blockinfo-transaction-row > * {
    display: table-cell;
    padding: 0.75em 1em 0 0;
    white-space: nowrap;
}

.blockinfo-transaction-row > hash {
    font-size: 0.8em;
}

.blockinfo-transaction-row > span {
    padding-top: 0.5em;
    padding-right: 0;
    width: 100%;
    text-align: right;
}


.blockinfo-transaction-row > span:last-child {
    padding-left: 0.5em;
}

a.info-icon {
    display: inline-block;
    width: 0.9em;
    height: 0.9em;
    margin-bottom: -2px;
    background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border-bottom: none;
    opacity: 0.7;
}

a.info-icon:hover,
a.info-icon:focus,
a.info-icon:active {
    opacity: 0.9;
}

.no-more {
    text-align: center;
    text-transform: uppercase;
    color: #AAA;
}

.event-item {
    overflow: auto;
    background: #F0F0F0;
    padding: 1em;
    border-radius: 4px;
    margin-bottom: 0.5em;
}

.event-item a.info-icon {
    margin-left: 4px;
}

.event-amount {
    float: right;
}

.event-amount.green {
    color: green;
}

.event-amount.red {
    color: red;
}

.event-name {
    font-weight: 600;
}

.event-height {
    opacity: 0.6;
}

.event-address a {
    font-size: 0.85em;
    color: #888;
}

.event-loadmore {
    border: 1px solid #042146;
    padding: 0.6em 1.2em;
    border-radius: 3px;
    text-align: center;
    background: #DDDDDD;
    cursor: pointer;
    text-transform: uppercase;
    display: block;
    margin: auto;
}

#infobox .charts-wrapper {
    background: white;
    max-width: 485px;
    margin: auto;
    border: 1px solid #D9DEE4;
    border-radius: 5px;
    padding: 1em;
}

#infobox .charts-wrapper h2 {
    margin-top: 0;
}

#infobox .charts-wrapper p {
    margin-bottom: 0;
}

#infobox .charts-wrapper a {
    background: #042146;
    color: white;
    padding: 0 0.75em;
    line-height: 2.5em;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #042146;
    margin-bottom: 4px;
}

#infobox .charts-wrapper a:hover,
#infobox .charts-wrapper a:focus {
    color: #042146;
    background: white;
}

#infobox .hashing-distribution-chart-wrapper {
    width: 450px;
    /* height: 450px; */
    margin: auto;
}

#infobox .hashing-distribution-chart-wrapper .miners-table {
    width: 100%;
    text-align: right;
    margin-top: 32px;
    border-collapse: collapse;
}

#infobox .hashing-distribution-chart-wrapper .miners-table th:first-child,
#infobox .hashing-distribution-chart-wrapper .miners-table td:first-child {
    text-align: left;
}

#infobox .hashing-distribution-chart-wrapper .miners-table th,
#infobox .hashing-distribution-chart-wrapper .miners-table td {
    padding: 6px 0;
}

#infobox .hashing-distribution-chart-wrapper .miners-table th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

#infobox .global-hashrate-range-switch,
#infobox .hashing-distribution-range-switch {
    float: right;
    width: 50%;
}

#infobox .axis-type-switch {
    float: right;
    font-size: 0.9em;
    width: 250px;
    margin-top: 1em;
}

#infobox .axis-type-switch label {
    cursor: pointer;
}

#infobox .axis-type-switch input:disabled + span {
    cursor: progress;
    opacity: 0.4;
}

#infobox .axis-type-switch label span span {
    font-weight: normal;
}

#infobox canvas {
    width: 100%;
    height: 450px;
    box-sizing: border-box;
    padding: 1em;
    background: white;
    border: 1px solid #D9DEE4;
    border-radius: 5px;
    clear: both;
}

#infobox small {
    display: block;
    margin-top: -1em;
    margin-bottom: 1em;
    color: #888;
}

#infobox .chart-valid-info {
    text-align: right;
    font-size: smaller;
    color: #888;
    font-style: italic;
}

#blocklist-wrapper {
    max-width: 950px;
    margin: 4em auto 2em auto;
    padding: 0 20px;
}

#blocklist-wrapper h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 0.2em;
}

#blocklist {
    display: table;
    border-spacing: 0 8px;
    width: 100%;
}

.blocklist-block {
    display: table-row;
    background: white;
}

a.blocklist-cell::after {
    position: absolute;
    left: 20%;
    bottom: 10px;
    width: 60%;
    content: "";
    border-bottom: 1px dotted;
}

a.blocklist-cell:hover::after,
a.blocklist-cell:focus::after {
    border-bottom-style: solid;
}

.blocklist-cell {
    display: table-cell;
    padding: 0.6em 0.8em;
    white-space: nowrap;
    border-top: 1px solid #D9DEE4;
    border-bottom: 1px solid #D9DEE4;
}
.blocklist-cell:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-left: 1px solid #D9DEE4;
}
.blocklist-cell:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: 1px solid #D9DEE4;
    text-align: right;
}

.blocklist-cell > hash,
.hashing-distribution-chart-wrapper hash {
    font-size: 0.85em;
}

.blocklist-loader {
    width: 40px;

    margin: auto;
    animation: sk-rotateplane 2.4s infinite ease-in-out;
}

.blocklist-loader svg {
    width: 100%;
    height: 100%;
}

.blocklist-loader.over-canvas {
    position: relative;
    top: -260px;
}

.blocklist-loader-text {
    text-align: center;
    margin-bottom: 0;
}

@keyframes sk-rotateplane {
    0%   { transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
    25%  { transform: perspective(120px) rotateX(-180deg) rotateY(0deg); }
    50%  { transform: perspective(120px) rotateX(-180deg) rotateY(-180deg); }
    75%  { transform: perspective(120px) rotateX(0deg) rotateY(-180deg); }
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    max-width: 1px; /* enables the correct overflow behaviour */
}

.blockinfo-transaction-row .ellipsis {
    width: 45%;
}

footer {
    text-align: center;
    font-size: 0.8em;;
    color: #AAA;
    padding: 1em;
}
footer a {
    color: #888;
}

@media (max-width: 960px) {
    #monitor {
        display: none;
    }
}

.show-mobile {
    display: none;
}

@media (max-width: 690px) {
    body {
        font-size: 16px;
    }

    .hide-mobile {
        display: none !important;
    }

    .show-mobile {
        display: initial !important;
    }

    header nav > a,
    header .submenu-container,
    header .submenu-container > a {
        margin-right: 0;
    }

    header > a:hover,
    header > a:focus,
    header > a:target,
    header .submenu-container > a:hover,
    header .submenu-container > a:focus,
    header .submenu-container > a:target {
        background: none;
        border-color: transparent;
    }

    .submenu {
        display: none !important;
    }

    #searchbox,
    #infobox,
    #blocklist-wrapper {
        padding: 0 10px;
    }

    .blocklist-cell {
        padding: 0.6em 0.5em;
    }
}

@media (max-width: 580px) {
    .hide-s {
        display: none !important;
    }

    header #mobile-menu-button {
        display: block;
    }

    header nav {
        float: none;
        clear: left;
        display: none;
        background: #fafafa;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    header nav.show {
        display: block;
    }

    header nav > a,
    header nav .submenu-container,
    header .submenu-container > a {
        float: none;
    }

    #search-form #search-input {
        padding-right: 14%;
    }

    .blockinfo-body-row label,
    .blockinfo-miner label {
        float: none;
    }

    .blockinfo-body-row > span,
    .blockinfo-body-row > hash,
    .blockinfo-miner hash {
        float: none;
        display: block;
        margin-top: 0.4em;
    }
}

@media (max-width: 480px) {
    .hide-xs {
        display: none !important;
    }

    #searchbox h1 {
        font-size: 1.5em;
        margin-top: 1em;
        margin-bottom: 30px;
    }

    #search-form #search-input {
        padding-right: 20%;
    }

    #infobox .hashing-distribution-chart-wrapper {
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .blocklist-cell.miner-address {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-right: 1px solid #D9DEE4;
    }
}
